:roo{
    --dark-green: #2e4a3d;
    --light-beig: #f4f0e1;
    --text-dark: #1d2b23;
}

body{
    margin: 0;
    font-family: 'Gepgia', serif;
    background-color: var(--light-beig);
    color: var(--text-dark);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-green);
    color: white;
    padding: 1rem 2rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links button{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

